<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS"
        tools:targetApi="tiramisu"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".Activities.ViewNotification"
            android:exported="false" />
        <activity
            android:name=".Activities.TotUsers"
            android:exported="false" />
        <activity
            android:name=".Activities.PendingLeave"
            android:exported="false" />
        <activity
            android:name=".Activities.RejectedLeave"
            android:exported="false" />
        <activity
            android:name=".Activities.ApprovedLeave"
            android:exported="false" />
        <activity
            android:name=".Activities.TotalLeave"
            android:exported="false" />
        <activity
            android:name=".Activities.Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".Activities.Manager"
            android:exported="false" />
        <activity
            android:name=".Activities.Employee"
            android:exported="true" />
        <activity
            android:name=".Activities.Register"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- AndroidManifest.xml -->
        <service
            android:name=".Classes.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Classes.MyFirebaseMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="YOUR_PACKAGE_NAME" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lms.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>